/* ----------------------------------------------------- */
/* Responsive Navigation
/* James Addison Pellerano
/* http://jamespellerano.com
/* 
/* Table of Contents ----------------------------------- */
/* § 1. ...... Imports
/* § 2. ...... Wrapper
/* § 3. ...... Header
/* § 3.1 ..... Site Title
/* § 3.2 ..... Navigation Element
/* § 3.2.1 ... Mobile Nav Slide Toggle
/* § 3.2.2 ... Unordered List of Menu Items
/* ----------------------------------------------------- */
/* § 1. - Imports -------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Rounded Corners ------------------------------------- */
/* Media Queries --------------------------------------- */
/* § 2. - Wrapper -------------------------------------- */
#wrapper {
  margin: auto; }
  @media only screen and (min-width: 320px) {
    #wrapper {
      width: 100%; } }

/* § 3. - Header --------------------------------------- */
header {
  /* § 3.1 - Site Title ------------------------------- */
  /* § 3.2 - Navigation Element ----------------------- */ }
  @media only screen and (min-width: 320px) {
    header {
      width: 100%;
      text-align: center; } }
  header h1#site-title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px; }
  header nav {
    margin: auto;
    /* § 3.2.1 - Mobile Nav Slide Toggle ------------- */
    /* § 3.2.2 - Unordered List of Menu Items -------- */ }
    @media only screen and (min-width: 320px) {
      header nav {
        width: 90%;
        background-color: #0096ff;
        padding: 2%;
        border-radius: 6px; } }
    header nav h2#slide-toggle {
      /* Toggle Button ------------------------------ */
      /* TODO: display: none for tablets and desktops */ }
      @media only screen and (min-width: 320px) {
        header nav h2#slide-toggle {
          width: 96%;
          font-size: 18px;
          color: #fff;
          font-family: Georgia, sans-serif;
          font-weight: normal;
          padding-left: 3%;
          padding-bottom: 3px;
          border-bottom: 1px solid #3dafff;
          text-align: left; } }
      @media only screen and (min-width: 320px) {
        header nav h2#slide-toggle span {
          float: right;
          cursor: pointer; } }
    header nav ul.menu {
      /* Menu Items --------------------------------- */ }
      @media only screen and (min-width: 320px) {
        header nav ul.menu {
          width: 100%;
          display: none; } }
      header nav ul.menu li.menu-item {
        /* First Menu Item ------------------------- */
        /* Active Menu Item ------------------------ */
        /* Link ------------------------------------ */ }
        @media only screen and (min-width: 320px) {
          header nav ul.menu li.menu-item {
            width: 97%;
            padding-left: 3%;
            padding-top: 3px;
            padding-bottom: 3px;
            margin-top: 2px;
            border-radius: 6px;
            border: 1px solid #0096ff; } }
        @media only screen and (min-width: 320px) {
          header nav ul.menu li.menu-item:first-child {
            margin-top: 5px; } }
        @media only screen and (min-width: 320px) {
          header nav ul.menu li.menu-item.active {
            background-color: #0087e6;
            border: 1px solid #29a7ff; } }
        @media only screen and (min-width: 320px) {
          header nav ul.menu li.menu-item a {
            color: #fff;
            text-decoration: none;
            font-family: Verdana, Helvetica, Arial, sans-serif; } }
