
/* Rounded Corners ------------------------------------- */
@mixin rounded-corners($px) {
   border-radius: $px;
}

/* Media Queries --------------------------------------- */
$handheld: 320px;
$tablet-port: 768px;
$tablet-land: 1024px;
@mixin respond-to($media) {
   @if $media == handhelds {
      @media only screen and (min-width: $handheld) and (max-width: $tablet-port - 1) {
         @content;
      }
   }
   
   @if $media == tablets {
      @media only screen and (min-width: $tablet-port) and (max-width: $tablet-land) {
         @content;
      }
   }
   
   @if $media == desktop {
      @media only screen and (min-width: $tablet-land + 1) {
         @content;
      }
   }
}

@import "icons/*.png";
@mixin sprite-css($name) {
   @include icons-sprite($name);
   height: icons-sprite-height($name);
   width: icons-sprite-width($name);
}